body {
    background-image : url(Images/fond.jpg);
	width : 98%;
	height : 98%;
	display : flex;
	flex-direction : column;
	align-items : center;
	justify-content : space-around;
	
	
}

Header{
	width : 90%;
	height : 7%;
	display : flex;
	flex-direction : row;
	align-items : center;
	justify-content : space-around;
	border-bottom :10px solid black;
	overflow : auto;

	
}

Header figure {
	width : 10%;
	height : 100%;
}

Header figure img {
	width : 100%;
	height : 100%;
}

#titre {
	width : 20%;
	height : 100%;
	display : flex;
	flex-direction : row;
	align-items : center;
	justify-content :left;

}
#titre p {
	font-family : Impact;
	font-size : 3em;
	
}

#sectionMenu{
	width : 70%;
	height : 100%;
	display : flex;
	flex-direction : row;
	align-items : center;
	justify-content : space-around;
}

#sectionDemo{
	width : 70%;
	height : 100%;
	display : none;
	flex-direction : row;
	align-items : center;
	justify-content : space-around;
}

.menu {
	font-family : impact;
	font-size : 1.5em;
	cursor : pointer;
}

.menu:hover{
	font-family : impact;
	font-size : 2em;
}
#sectionCredit {
	width : 40%;
	height :70%;
	display : none;
	flex-direction : column;
	align-items : center;
	justify-content : space-around;
	background-color : rgba(255,255,255,0.8);
	overflow : auto;
	box-shadow : 10px 10px 10px black;
}
#sectionCredit  Article{
	width : 90%;
	height : 40%;
	display : flex;
	flex-direction : column;
	align-items : center;
	justify-content : space-around;
	overflow : auto;
}

#sectionCredit  Aside{
	width :10%;
	height :10%;
}

#sectionQuEstCe {
	width : 50%;
	height :70%;
	display : none;
	flex-direction : column;
	align-items : center;
	justify-content : space-around;
	background-color : rgba(255,255,255,0.8);
	overflow : auto;
	box-shadow : 10px 10px 10px black;
}

#sectionQuEstCe Article{
	width : 90%;
	height : 70%;
	overflow : auto;
	display : flex;
	flex-direction : column;
	align-items : center;
	justify-content : space-around;
}

#sectionQuEstCe Aside{
	width : 10%;
	height : 10%;
}


#sectionPapier {
	width : 50%;
	height :70%;
	display : none;
	flex-direction : column;
	align-items : center;
	justify-content : space-around;
	background-color : rgba(255,255,255,0.8);
	overflow : auto;
	box-shadow : 10px 10px 10px black;
}

#sectionPapier Article{
	width : 90%;
	height : 30%;
	overflow : auto;
	display : flex;
	flex-direction : column;
	align-items : center;
	justify-content : space-around;
}
#sectionPapier figure{
	width : 80%;
	height : 25%;
	display : flex;
	flex-direction :raw;
	align-items : center;
	justify-content : space-around;
}
#sectionPapier figure img{
	width :45%;
	height : 100%;
}
#sectionPapier Aside{
	width : 10%;
	height : 10%;
}


.logo {
	width : 10%;
	height : 10%;
}

.logo img {
	width : 100%;
	height : 100%;
}

#sectionRemplir {
	width : 95%;
	height :70%;
	display : none;
	flex-direction : row;
	align-items : center;
	justify-content : space-around;
	overflow : auto;

}

#gauche{
	width : 25%;
	height :50%;
	display : flex;
	flex-direction : column;
	align-items : center;
	justify-content : space-around;

}

#sectionNoCase{
	width : 80%;
	height : 15%;
	display : flex;
	align-items : center;
	justify-content : space-around;
}

#sectionNoCase p{
	font-family : Impact;
	font-size : 1.5em;
}

#sectionTexte{
	width : 80%;
	height : 30%;
}

#sectionTexte input {
	width : 100%;
	height : 100%;
	font-size : 2em;
	text-align : center;
	box-shadow : 10px 10px 10px black;
}
#lesBoutons{
	width : 90%;
	height :30%;
	display : flex;
	flex-direction : row;
	align-items : center;
	justify-content : space-around;

}
.sectionBoutons{
	width : 30%;
	height : 90%;
}

.boutons{
	width : 100%;
	height : 100%;
	cursor : pointer;
	box-shadow : 10px 10px 10px black;
}

.boutons:hover{
	font-weight : bold;
}

#droite{
	width : 70%;
	height :95%;
	display : flex;
	align-items : left;
	justify-content : top;
	overflow : hidden;
	box-shadow : 10px 10px 10px black;
}

#instructions{
	width : 100%;
	height : 100%;
}

#instructions td {
	border : 1px solid black;
	text-align : center;
	background-color : rgba(255,255,255,0.8);

	
}


#sectionMemoire {
	width : 90%;
	height :70%;
	display : flex;
	flex-direction : column;
	align-items : left;
	justify-content : top;
	overflow : auto;
}

#memoire  {
	width : 100%;
	height : 100%;
}

.celluleMemoire {
	border : 2px solid black;
	overflow : hidden;	
	text-align : center;
	font-size :1.1em;
	background-color : rgba(255,255,255,0.8);
	cursor : pointer;
	width : 9%;
	height : 9%;
}


.celluleMemoire:hover {
	background-color : rgba(220,220,220,0.8);
	border : 4px solid black;
}

.colonne1{
	font-family : impact;
	text-align : center;
	font-size :2em;
	width : 5%;
	height : 9%;
}
.ligne1{
	font-family : impact;
	text-align : center;
	font-size :2em;
	width : 9%;
	height : 9%;
}

.celluleFin {
	background-color : rgba(200,200,200,0.8);
	border : 1px solid black;
	font-family : impact;
	text-align : center;
	font-size :2em;

}

.celluleEnCours{
	border : 4px solid black;
	overflow : hidden;	
	text-align : center;
	font-size :1.2em;
	background-color : rgba(200,200,200,0.8);
	cursor : pointer;
}

#sectionRegistres{
	width : 90%;
	height : 15%;
	display : flex;
	align-items : center;
	justify-content : space-around;
	border-top : 10px solid black;
	overflow : auto;
}





#sectionVitesse {
	width : 15%;
	height :80%;
	display : flex;
	align-items : center;
	justify-content : left;
	
}

#vitesse{
	width : 100%;
	height : 10%;
	cursor : pointer;
	background: black;
	box-shadow : 10px 10px 10px black;
}


#sectionLancer{
	width : 10%;
	height :50%;
	display : flex;
	align-items : top;
	justify-content : left;
}



#sectionRAB {
	width : 50%;
	height :80%;
	display : flex;
	flex-direction : row;
	align-items : top;
	justify-content : left;
}

#RAB{
	width : 100%;
	height : 100%;
}	

#RAB td{
	border : 4px solid black;
	overflow : hidden;	
	text-align : center;
	font-size :0.8em;
	background-color : rgba(255,255,255,0.8);
	width : 28%;
	box-shadow : 10px 10px 10px black;
	font-size :1.1em;
	overflow : hidden;
}

#R{
	background-image : url(Images/R.png);
	background-repeat: no-repeat, repeat;
	font-weight : bold;
}

#A{
	background-image : url(Images/A.png);
	background-repeat: no-repeat, repeat;
	
}

#B{
	background-image : url(Images/B.png);
	background-repeat: no-repeat, repeat;
	
}

#sectionPCSP{
	width : 20%;
	height :80%;
	display : flex;
	align-items : left;
	justify-content : top;
}

#PCSP{
	width : 100%;
	height : 100%;
}	

#PCSP td{
	border : 4px solid black;
	overflow : hidden;	
	text-align : center;
	font-size :1.1em;
	background-color : rgba(255,255,255,0.8);
	padding : auto;
	margin	: auto;
	width : 40%;
	box-shadow : 10px 10px 10px black;
	
}
#PC{
	background-image : url(Images/PC.png);
	background-repeat: no-repeat, repeat;
	
}#SP{
	background-image : url(Images/SP.png);
	background-repeat: no-repeat, repeat;

}
#sectionInitialiser{
	width : 10%;
	height :50%;
	display : flex;
	align-items : top;
	justify-content : left;
}